// media queries
// large tablet
@mixin large-tablet {
    @media only screen and (max-width:#{$large-tablet-width}) {
        @content;
    }
}

// small tablet
@mixin small-tablet {
    @media only screen and (max-width:#{$small-tablet-width}) {
        @content;
    }
}

// mobile - landscape
@mixin mobile-landscape {
    @media only screen and (max-width:#{$mobile-landscape-width}) and (orientation: landscape) {
        @content;
    }
}

// mobile - portrait
@mixin mobile-portrait {
    @media only screen and (max-width:#{$mobile-portrait-width}) {
        @content;
    }
}

// cro-bro opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// cro-bro flexbox
@mixin flex {
    display:flex;
    display:-webkit-flex;
}

// cro-bro -webkit-
@mixin webkit($style, $pos) {
    -webkit-#{$style}: $pos;
    #{$style}: $pos;
}

// cro-bro transform
@mixin transform($str) {
    -webkit-transform: #{$str};
    -moz-transform: #{$str};
    -ms-transform: #{$str};
    -o-transform: #{$str};
    transform: #{$str};      
}
// cro-bro animation
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}