.fancybox-active {
    height:100% !important;
    .fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
        cursor:default;
    }
    .fancybox-content {
        padding:30px;
        .modal {
            text-align:center;
            p {
                padding:25px 0;
            }
            .button {
                font-weight: 700;
                display: block;
                text-align: center;
                margin:25px auto;
                margin-bottom:0;
                span {
                    background-color:$black;
                    color:$white;
                }
            }
        }
    }
    
}

#speedbump {
    max-width:map-get($breakpoints, xs);
}