// colors
$light-gray:#ebebeb;
$gray:#606060;
$black: #000;
$white: #fff;

// font sizes
$body-size: 15px;
$h2-size:52px;
$h3-size: 32px;

//font families
$font: Helvetica, sans-serif;

// viewports
$screen-md-max: 1024px;
$screen-sm-max: 812px;
$screen-xs-max: 360px;

// screen sizes
$large-tablet-width: 1024px;
$small-tablet-width: 768px;
$mobile-landscape-width: 812px;
$mobile-portrait-width: 525px;