// colors
$light-gray:#ebebeb;
$gray:#606060;
$black: #000;
$white: #fff;

// font sizes
$body-size: 18px;
$h2-size:62px;
$h3-size:42px;
$h4-size:32px;

//font families
$font: Helvetica, sans-serif;

// breakpoints
$breakpoints: (
  xs: 320px,
  sm: 520px,
  md: 768px,
  lg: 1024px,
  xlg: 1280px
);